﻿@model Toodaloo.Models.Todo

<li id="edit_todo_@Model.Id">
	<form id="edit-todo" action="/todo/edit/@Model.Id" method="post">
		@Html.TextBoxFor(model => model.Description) <a class="cancel-edit" href="/todo/edit/@Model.Id">[cancel]</a>
	</form>
</li>