@model Toodaloo.Models.Todo

<li id="edit_todo_@Model.Id">
	<form id="edit-todo" action="/todo/edit/@Model.Id" method="post">
		@Html.CheckBoxFor(model => model.Complete, new { @class = "todo-checkbox", data_url = @Url.Action("edit", new { id = Model.Id }) })
		@Html.TextBoxFor(model => model.Description, new { @class = "edit-todo-description" })
	</form>
</li>