 body {
	background: #f1ede2 url("/Content/Images/100-50-3.png");
	font-family: 'Open Sans', sans-serif;
}

h2, form, ul, li {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	margin-bottom: 6px;
}

input.edit-todo-description {
	border: 0;
	font-size: 1em;
	margin-left: -1px;
	margin-top: -1px;
	margin-bottom: -1px;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	width: 98%;
}

.controls {
	display: none;
	position: absolute; 
	background: #fff; 
	border-radius: 3px; 
	margin-left: -68px; 
	margin-top: -2px; 
	font-weight: 600; 
	font-size: .8em; 
	padding: 4px 12px 4px 8px;
	-webkit-box-shadow: -2px 0 1px rgba(0,0,0,.1);
}

.controls a {
	color: #000;
	text-decoration: none;
}

#new-todo {
	background: #eee;
	padding: 24px;
}

.new-todo {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	padding: 4px;
	width: 98%;
	border-radius: 3px;
	border: 1px solid #ccc;
}

.todo {
	cursor: pointer;
	color: #999;
}

.todo:hover {
	color: #000;
}

#completed-todos {
	font-size: .85em;
	color: #ccc;
}

#todos {
	padding: 18px 0 0;
}

#empty-todo {
	color: #999;
	font-style: italic;
}

#container {
	background: #fff;
	border: 1px solid #ccc;
	-padding: 24px;
	width: 480px;
	margin: 60px auto;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
}