<!doctype html>
<head>
	<title>@ViewBag.Title</title>
	@Styles.Render("~/css")
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,800" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	@Scripts.Render("~/js")
</head>
<body>
	<div id="container">
		@RenderBody()
	</div>
</body>
</html>